/**
 * Размеры шрифтов
 */

//Заголовки панелей, ссылки верхнего меню
.panel-heading,
.navbar-default .navbar-nav>li>a
    font-size: 1.375rem

//Навигация слева на странице компаний
.company-nav .list-group-item
    font-size: 1.25rem
