/*
 * Descktop first
 */
@media (max-width : 1199px){

}
@media (max-width : 991px){

}
@media (max-width : 767px){
    /*
     * Кнопки
     */
    .btn {
        font-size: 0.625rem;
    }
    /*
     * Заявки на странице компании, Страница заявки
     */
    .leads .panel-lead .wrap-lead .lead-head,
    .lead-page .panel-lead .lead-head {
        font-size: 1.25rem;
    }
    .leads .panel-lead .wrap-lead .lead-info .lead-info-label,
    .leads .panel-lead .wrap-lead .lead-info .lead-info-value,
    .form-control, .lead-page .panel-lead .lead-info-label,
    .lead-page .panel-lead .lead-info-value,
    .lead-page .panel-lead .lead-info-general .lead-info-description {
        font-size: 0.75rem;
    }
    .leads .panel-lead .wrap-lead .lead-info .lead-info-head {
        font-size: 1rem;
    }

    /*
     * Страница заявки
     */
    .lead-page .lead-head {
        text-align: center;
    }
    .lead-page .panel-lead .lead-info-general .lead-info-value,
    .lead-page .panel-lead .lead-info-general .lead-info-description {
        display: inline;
    }
}
@media (max-width : 479px){
    /*
     * Заявки на странице компании
     */
    .leads .panel-lead .wrap-lead .lead-info .lead-info-label {
        margin: 0 0 10px 0;
    }
    .leads .panel-lead .wrap-lead .lead-info .lead-info-label i {
        width: 15px;
    }
    .leads .panel-lead .wrap-lead .lead-info .lead-info-value {
        margin: 0 0 10px 0;
    }
}
@media (max-width : 319px){

}
/*
 * Mobile first
 */
@media (min-width : 1200px){

}
@media (min-width : 992px){
    
}
@media (min-width : 768px){

}
@media (min-width : 480px){

}
@media (min-width : 320px){

}
