// out: ../css/main.css, sourcemap: true, compress: true

html
    font-size: 100%

body
    font-family: "Roboto"
    font-weight: normal

a,
button,
input[type=submit],
input[type=button],
select,
.bootstrap-select .dropdown-toggle
    outline: none !important
    &:focus
        outline: none !important

/**
 * Навигации
 */

//Верхняя меню
.navbar-default
    .navbar-nav>li>a,
    .navbar-nav>.open>a
        color: #000000
        &:active,
            color: #999999
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    .navbar-nav>.open>a
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);

//Боковая навигация - Компании
.company-nav
    .list-group
        margin: 0
        .fa
            width: 15px
        .list-group
            .list-group-item
                border-radius: 0
                padding-left: 30px


//Landing page
.welcome
    .btn-register
        a
            display: inline-block

//Регистрация зявок
.lead-register
    .dropdown-menu a span
        width: 20px
        text-align: center
        &:before
            display: inline
    textarea
        resize: vertical

/**
 * Компания
 */

//Настройки
.settings
    .form-raw
        .form-head
            padding: 10px 15px
            margin: -15px -15px 15px -15px
            border-bottom: 1px solid #cccccc
            font-weight: 600
        .form-wrap
            font-size: 0
            .company-img
                display: inline-block
                vertical-align: middle
                padding: 15px 15px 15px 0px
                width: 25%
            .settings-form
                display: inline-block
                padding: 0 0 0 20px
                vertical-align: middle
                width: 75%
                .btn-file
                    margin-left: 15px
                    display: inline-block
                    vertical-align: middle
                    input[type=file]
                        display: none
                #changeAvatar
                    vertical-align: middle
                    margin-left: 4px

//Font-size
@import "components/font-size.styl"
