// out: ../css/main.css, sourcemap: true, compress: true

html
    font-size: 100%

body
    font-family: "Roboto"
    font-weight: normal

a,
button,
input[type=submit],
input[type=button],
select,
.bootstrap-select .dropdown-toggle
    outline: none !important
    &:focus
        outline: none !important

.fa
    width: 20px

/**
 * Навигации
 */

//Верхняя меню
.navbar-default
    .navbar-nav>li>a,
    .navbar-nav>.open>a
        color: #000000
        &:active,
            color: #999999
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    .navbar-nav>.open>a
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);

//Боковая навигация - Компании
.company-nav
    .list-group
        margin: 0
        .fa
            width: 15px
        .list-group
            .list-group-item
                border-radius: 0
                padding-left: 30px


//Landing page
.welcome
    .btn-register
        a
            display: inline-block

//Регистрация зявок
.lead-register
    .dropdown-menu a span
        width: 20px
        text-align: center
        &:before
            display: inline
    textarea
        resize: vertical

/**
 * Компания
 */

//Страница заявок
.leads
    .panel-lead
        padding: 0 15px 15px 15px
        .wrap-lead
            border-bottom: 1px solid #eeeeee
            .img-lead-wrap
                overflow: hidden
                text-align: center
                .img-lead
                    display: inline-block
                    max-width: 100%
                    height: auto
            .lead-info
                .lead-info-label
                    margin: 0 0 10px 0
                    font-weight: bold
                    i
                        width: 20px
                .lead-info-head
                    margin: 10px 0 10px 0
                .lead-info-value
                    margin: 0 0 10px 0
                .btn-lead-page
                    margin: 15px 0 10px 0
                    &:hover
                        margin: 15px 0 11px 0
                    &:active
                        margin: 15px 0 12px 0

//Настройки
.settings
    .form-raw
        .form-head
            padding: 10px 15px
            margin: -15px -15px 15px -15px
            border-bottom: 1px solid #cccccc
            font-weight: 600
        .form-wrap
            font-size: 0
            .company-img
                display: inline-block
                vertical-align: middle
                padding: 15px 15px 15px 0px
                width: 25%
            .settings-form
                display: inline-block
                padding: 0 0 0 20px
                vertical-align: middle
                width: 75%
                .btn-file
                    margin-left: 15px
                    display: inline-block
                    vertical-align: middle
                    input[type=file]
                        display: none
                #changeAvatar
                    vertical-align: middle
                    margin-left: 4px

/*
 * Заявки
 */

//Главная страница
.lead-page
    .panel-lead
        padding: 0 15px 0 15px
        .lead-head
            margin: 10px 0 20px 0
        .lead-info-label
            margin: 0
            font-weight: bold
        .lead-info-value
            margin: 0 0 20px 0
        .lead-info-general
            .lead-info-label
                display: inline-block
            .lead-info-description
                display: inline-block
        .lead-info-img
            padding: 0 0 0 15px
            .lead-img
                width: 100%
    .panel-lead-bid
        table
            td,
            th
                border-color: #cccccc !important
                vertical-align: middle
                p
                    margin: 0
                    display: inline-block
                a
                    margin: 0
                    display: inline-block
                .btn-check-bid
                    width: 100%
                    &:hover
                        margin: 0 0 1px 0
                    &:active
                        margin: 0 0 2px 0
            tr:last-of-type
                border-bottom: 1px solid #cccccc

//Font-size
@import "components/font-size.styl"
